@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background: linear-gradient(135deg, rgba(248, 200, 220, 0.20) 0%, rgba(239, 228, 162, 0.20) 100%);
  background-attachment: fixed;
  min-height: 100vh;
}
